<p-breadcrumb [model]="items" [home]="home" [styleClass]="styleClass" [style]="style"></p-breadcrumb>

<app-ring [percentage]="75" [cricleLength]="100"></app-ring>


<!-- <p-sidebar [(visible)]="display" position="bottom">
    Content
    Content
</p-sidebar>
<button type="text" (click)="display = true" pButton icon="fa-external-link-square" label="Show"></button> -->


<!-- <div class="ui-g">
	<div class="ui-g-3">
		<div class="ui-g-12">
      <span class="pull-left" ulcenter>在制订单数</span>
      <span class="pull-right" ulcenter><span class="numberSize">20 个</span></span>
    </div>
    <div class="ui-g-12">
      <span class="pull-left">当前Error Log<br/>(H level)</span>
      <span class="pull-right"><span class="numberSize">2 </span><span>件</span></span>
    </div>
	</div>
</div>

<div class="aaaaaaaaaaaaa" style="background-color: #713248; width:800px;height:1px;margin:0px auto;padding:0px;overflow:hidden"></div>

<div class="ui-breadcrumb-chevron fa fa-angle-right"></div> -->